{% extends 'base.html.twig' %}

{% block contenu %}
    <div style="display: flex; justify-content: flex-start; margin-top:90px;margin-left:80px;border-radius:10px;height:250px;width:200px">
        <img src="{{ asset('/img/'~app.user.image) }}" alt="" width="300" style=" border-radius:10px">
    </div>

<div id="form" class="offset-4 col-6" style="margin-top:-250px">
    <h2>Modifier mon profil</h2>

    {{ form_start(modifform) }}
    <div class="col-4">
    {{ form_widget(modifform) }}
    </div>
    <button type="submit" class="btn btn-dark">Enregistrer</button>
    <a type="submit" class="btn btn-dark" href="{{ path('modifiermotdepasse',{ 'id': app.user.id } ) }}">Modifier Mot de Passe</a>
    <a type="submit" class="btn btn-dark" href="{{ path('main_home') }}">Annuler</a>
    {{ form_end(modifform) }}
    </div>

{% endblock %}

