{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Mon Profil {% endblock %}

{% block contenu %}

    <div style="display: flex; justify-content: flex-start; margin-top:90px;margin-left:80px;border-radius:10px;height:250px;width:200px">
        <img src="{{ asset('/img/'~app.user.image) }}" alt="" width="300" style=" border-radius:10px">
    </div>

    <div id="form" class="offset-4 col-9" style="margin-top:-250px">
        <h2>Modifier mon profil</h2>
        {{ form_start(modifform, { 'attr' : { 'id' : 'formModifierProfil' }}) }}
        <div class="col-4">
        {{ form_widget(modifform) }}
        </div>

        <input type="hidden" value="1" id="infoProfil" name="infoProfil">
        {{ form_end(modifform) }}
        <button onclick="modifyProfile()" class="btn btn-dark mt-3" name="Enregistrer">Enregistrer</button>
        <a class="btn btn-dark mt-3" href="{{ path('main_home') }}">Annuler</a>
    </div>


    <div class="offset-4 col-4">
        <button type="button" class="btn-sm btn-danger small col-4 my-2" data-bs-toggle="modal" data-bs-target="#mdpModal">
            Modifier Mot de Passe
        </button>
    </div>

    <div class="modal" tabindex="-1" id="mdpModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier Mot De Passe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(mdpform, {'action': path('modifiermotdepasse',{ 'id': app.user.id }), 'attr':{'id':'mdpform'}}) }}

                    {{ form_widget(mdpform) }}

                    {{  form_end(mdpform) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" onclick="modifierMdpSubmit()">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ asset('js/formButtonModifyProfile.js') }}"></script>

    <script>
        function modifierMdpSubmit(){
            document.querySelector('#mdpform').submit();
        }
    </script>

{% endblock %}

