{% extends "base.html.twig" %}

{% block title %} {{ parent() }} | Détail {% endblock %}

{% block contenu %}
    <div class="container">
        <h2>Afficher une sortie</h2>
        <div class="row">
            <div class="col-6">
               Nom de la sortie : {{ sortie.nom }}
            </div>
            <div class="col-6">
                Campus : {{ sortie.campus.nom }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Date et heure de la sortie : {{ sortie.dateHeureDebut |date('d/m/y H:i') }}
            </div>
            <div class="col-6">
                Lieu : {{ sortie.lieu.nom }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Date limite d'inscription : {{ sortie.dateLimiteInscription |date('d/m/y H:i') }}
            </div>
            <div class="col-6">
                Rue : {{ sortie.lieu.rue }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Ville : {{ sortie.lieu.ville.nom }}
            </div>
            <div class="col-6">
                Code postal : {{ sortie.lieu.ville.codePostal }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Durée : {{ sortie.duree }} minutes
            </div>
            <div class="col-6">
                Latitude : {{ sortie.lieu.latitude }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Nombre de places: {{ sortie.nbInscriptionsMax }}
            </div>
            <div class="col-6">
                Longitude : {{ sortie.lieu.longitutde }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Description et infos : {{ sortie.infosSortie }}
            </div>
        </div>
        <div class="row">
            <h3>Liste des participants</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-2">Pseudo</th>
                        <th class="col-2">Nom</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyParticipant">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <template id="ligneP">
        <tr>
            <td>0</td>
            <td>
                <button onclick="afficherProfil(this)" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#profilModal"></button>
            </td>
        </tr>
    </template>
    <div class="modal" tabindex="-1" id="profilModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Profil participant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="offset-3 col-5">
                        <span id="photoProfil"></span>
                    </div>
                    <div class="offset-3 col-5">
                        Prénom : <span id="prenom"></span>
                    </div>

                    <div class="offset-3 col-5">
                        Nom : <span id="nom"></span>
                    </div>
                    <div class="offset-3 col-5">
                        Téléphone : <span id="telephone"></span>
                    </div>
                    <div class="offset-3 col-5">
                        Email : <span id="email"></span>
                    </div>
                    <div class="offset-3 col-5">
                        Campus : <span id="campus"></span>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
    </div>
    <input href="#" id="idSortie" hidden value="{{ sortie.id }}">

    <script src="{{ asset('js/listParticipants.js') }}"></script>
    <script src="{{ asset('js/afficherProfil.js') }}"></script>


{% endblock %}