{% extends "base.html.twig" %}

{% block contenu %}

    <div class="offset-4 col-8">
        <div class="offset-1 col-4">
        <h1>Nouvelle sortie</h1>
        {{ form_start(formulaireSortie, { 'attr': {'id' : 'formCreerSortie'}}) }}

            {{ form_widget(formulaireSortie)}}
            <input type="hidden" value="1" id="info" name="info">
        {{ form_end(formulaireSortie)}}
            <button onclick="enregistrer()" class="btn btn-dark mt-3" name="Enregistrer">Enregistrer</button>
            <button onclick="publier()" class="btn btn-dark mt-3" name="Publier">Publier la sortie</button>
            <a href="{{ path('sortie_listSorties') }}" class="btn btn-dark mt-3">Annuler</a>
        </div>
    </div>

    <script src="{{ asset('js/formButton.js') }}"></script>
{% endblock %}