{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Sorties {% endblock %}

{% block contenu %}
    <div>
            <div class="col-3 my-2">
                <input type="text" id="nomSortie" class="form-control" placeholder="Rechercher">
            </div>
    </div>
    <div class="container">
        <h3>Filtrer les sorties</h3>
        <div class="row">
            <div class="col-6">
            <div >
                Campus :
                <select name="campus" id="campus" onchange="filtrer()">
                    <option value="0">Filtrer par campus</option>
                    {% for chaqueCampus in listCampus %}
                    <option value="{{ chaqueCampus.id }}">{{ chaqueCampus.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                Le nom de la sortie contient : <input type="text" class="form-control" id="nom" placeholder="Rechercher" onkeyup="filtrer()">
            </div>
            <div class="col-6">
                Entre le <input type="date" id="datePremiere" onchange="filtrer()" class="form-control">  Et le <input type="date" id="dateSeconde" onchange="filtrer()" class="form-control">
            </div>
            </div>

            <div class="choix col-6 mt-5">
                <div class="checkbox">
                    <label><input type="checkbox" id="estOrga" onclick="filtrer();"/> Sorties dont je suis l'organisateur</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="estInscrit" onclick="filtrer();"/> Sorties auxquelles je suis inscris</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="estNInscrit" onclick="filtrer();"/> Sorties auxquelles je ne suis pas inscris</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="datePassee" onclick="filtrer();"/> Sorties passées</label>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
            <div class="row">
                    <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-2">Nom de la sortie</th>
                                    <th class="col-2">Date de la sortie</th>
                                    <th>Clôture</th>
                                    <th>Inscrits/Places</th>
                                    <th>Etat</th>
                                    <th>Inscrit</th>
                                    <th>Organisateur</th>
                                    <th class="col-5">Actions</th>
                                </tr>
                                </thead>
                                    <tbody id="myTbody">

                                    </tbody>
                            </table>
                    </div>
            </div>
    </div>
        <template id="ligne">
                <tr>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td><i class="fas fa-check"></i></td>
                        <td>6</td>
                        <td>
                            <div class="row">
                                <div class="col-3">
                            <a  href="" id="btnSinscrire" class="  btn btn-light">S'inscrire</a>
                                </div>
                                <div class="col-3">
                            <a  href="" id="btnSedesister" class="c btn btn-light">Se Désister</a>
                                </div>
                                <div class="col-3">
                            <a  href="" id="btnModifierSortie" class="  btn btn-light cacher">Modifier</a>
                                </div>
                                <div class="col-3">
                            <a  href="" id="btnAfficher" class="btn btn-light">Afficher</a>
                                </div>
                            </div>
                        </td>

                </tr>
        </template>


    <script>let myUser = {{ app.user.id }}</script>
    <script src="{{ asset('js/listSorties.js') }}"></script>
{% endblock %}

