<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}



    </head>
    <header>


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ProjetSortie</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('main_home') }}">Accueil</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('sortie_creerSortie') }}">Créer Sortie</a>
                            </li>
                        {% endif %}
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('sortie_listSorties') }}">Liste des sorties</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">Nouvel utilisateur</a>

                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">

                                <a class="nav-link" href="{{ path('gestion_gestion_app') }}">Gestionnaire d'application</a>
                            </li>
                        {% endif %}


                        {% if app.user() %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profil_modifierprofil',{ 'id': app.user.id }) }}">Mon profil</a>
                            </li>
                        {% endif %}
                        {% if not app.user() %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                            </li>
                        {% endif %}
                        {% if app.user() %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>
                        {% endif %}
                    </ul>
                    {#<form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>#}
                </div>
            </div>
        </nav>


    </header>
    <body>

        {% block contenu %}{% endblock %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">{{ message }}</div>
        {% endfor %}
        {% endfor %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    </body>

</html>
