{% extends "base.html.twig" %}

{% block contenu %}
    <div class="container">
            <div class=" offset-4 col-4">
                <button type="button" class="btn btn-primary col-12 my-5" data-bs-toggle="modal" data-bs-target="#villeModal">
                    Nouvelle Ville
                </button>
            </div>
            <div class="offset-4 col-4">
                <button type="button" class="btn btn-primary col-12 my-5" data-bs-toggle="modal" data-bs-target="#gererModal">
                    Gerer Utilisateur
                </button>
            </div>
            <div class="offset-4 col-4">
                <button type="button" class="btn btn-primary col-12 my-5" data-bs-toggle="modal" data-bs-target="#ajouterModal">
                    Ajouter Utilisateur
                </button>
            </div>
        <div class="offset-4 col-4">
            <button type="button" class="btn btn-primary col-12 my-5" data-bs-toggle="modal" data-bs-target="#archivesModal">
                Consulter Les Archives
            </button>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="villeModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nouvelle Ville</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(formulaireVille,{'action': path('gestion_ajouter_ville'), 'attr': {'id':'formVille'}}) }}
                    {{ form_widget(formulaireVille) }}

                    {{ form_end(formulaireVille) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="villeSubmit()">Enregister</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="gererModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Gerer Utilisateur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-2">Pseudo</th>
                            <th class="col-4">Nom</th>
                            <th class="col-4">prenom</th>
                            <th class="col-4">supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for utilisateur in utilisateurs %}
                            <tr>
                                <td>{{ utilisateur.pseudo }}</td>
                                <td>{{ utilisateur.nom }}</td>
                                <td>{{ utilisateur.prenom }}</td>
                                {#  <button type="button" class="btn btn-primary" onclick=""><i class="bi bi-trash-fill"></i></button>#}
                                <td><a class="btn btn-danger" href="{{ path('gestion_supprimer_utilisateur', {'id': utilisateur.id}) }}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <a class="btn btn-danger" href="{{ path('gestion_rendre_inactif', {'id': utilisateur.id}) }}">
                                        <i class="fa-solid fa-ban"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="ajouterModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nouvel Utilisateur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(registrationForm,{'action': path('app_register'), 'attr': {'id':'formAjouter'}}) }}
                    {{ form_widget(registrationForm) }}

                    {{ form_end(registrationForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="ajouterSubmit()">Enregister</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="archivesModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Archives</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-2">Nom de la sortie</th>
                           {#<th class="col-4">Date de la sortie</th> #}
                           {#<th class="col-4">Clôture</th>#}
                            <th class="col-4">Organisateur</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for archive in archives %}
                            <tr>
                                <td>{{ archive.nom }}</td>
                                {# <td>{{ archive.dateHeureDebut|date('Y-m-d H:i') }}</td> #}
                                {# <td>{{ archive.dateLimiteInscription }}</td> #}
                                <td>{{ archive.organisateur.pseudo }}</td>
                                <td><a class="btn btn-dark" href="{{ path('sortie_afficherSortie', {'id': archive.id}) }}">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <script>
        function villeSubmit(){
            document.querySelector('#formVille').submit();
        }
        function ajouterSubmit(){
            document.querySelector('#formAjouter').submit();
        }
    </script>
{% endblock %}